@media screen and (max-width: 1024px) 
{
    .container
    {
        flex-direction: column;
        padding-block: 20px;
    }    

    .gallery
    {
        width: 100%;
        padding-inline: 12px;
        grid-auto-rows: 300px;
    }

    .box
    {
        grid-row: span 1;
        grid-column: span 3;
    }
}